// color
$white: #777;
$color-primary:#58e1c1;
$color-link:#51ddfc;
$warning-col_2-color:#fd7856;
$error-col_9-color:#e4757a;


// Media Queries

$brk-medium:'(min-width: 768px)';

//Style
$font_weight-s:300;
