.img-avatar {
  @include img-dis-marg {
    @include img-marg_top-max_width;
    max-height: 100%;
  }
}

.img-frame {
  @include img-dis-marg {
    @include img-marg_top-max_width;
    padding: 13px;
    border: 1px solid #ccc;
  }
}

.img-logo {
  @include img-dis-marg;
}
